<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xxt.kareluo.imaging">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <activity
            android:name=".XXTIMGGalleryActivity"
            android:theme="@style/XXTImageGalleryTheme" />

        <activity
            android:name=".XXTIMGEditActivity"
            android:theme="@style/XXTImageEditTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>

</manifest>
